.App {
  font-family: sans-serif;
  text-align: center;
}

.logo {
  height: 40px;
  width: 180px;
  float: left;
  margin-top: 2%;
  margin-left: 2%;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #dde6ed;
  padding: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.signup-button,
.login-button,
.request-demo-button {
  padding: 8px 16px;
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  border-radius: 4px;
  cursor: pointer;
}



.card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
  margin: 8%;
}

.card {
  background-color: #daf5ff;
  border: 2px solid #000;
  margin: 10px;
  padding: 2%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: auto;
}

.card ul {
  margin-top: 8px;
  padding-right: 0;
}
.card li {
  margin-bottom: 5px;
}

.content {
  flex: 1;
  flex-direction: column;
  /* Adjust the spacing as needed */
}

.footer {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  line-height: 1.5;
  width: 100%;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.left-content {
  display: flex;
  align-items: center;
}

.right-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10%;
}

.footer-text {
  margin-right: 10px;
  margin-bottom: 10px; /* Adjust the spacing between lines as needed */
}

/* Signup */


.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90vh;
  margin-top: auto;
  padding-top: 2%;
}

.signup-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 2%;
  text-align: center;
  font-family: Arial, sans-serif;
}

form {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  justify-content: space-between;
}

.left-section {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.right-section {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 12%;
  width: 80%;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Arial, sans-serif;
}

.tnc {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
  flex-direction: row;
}

.tnc input[type="checkbox"] {
  margin-right: 0.5rem;
}

.tnc label {
  color: #555;
  font-size: 16px;
}


button {
  margin-top: auto;
  padding: 20px 40px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  align-self: center;
  margin-bottom: 2%;
  font-family: Arial, sans-serif;
}

.button-container{
  align-self: center;
  margin:auto;
  padding: auto;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  form {
    width: 100%;
    padding: 0 20px;
  }
}

.subm-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}
