.App {
  font-family: sans-serif;
  text-align: center;
}

.logo {
  height: 3rem;
  width: 7rem;
  float: left;
  zoom: 1.2;
  margin-top: 2%;
  margin-left: 2%;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #dde6ed;
  padding: 1rem;
}

.buttons {
  display: flex;
  gap: 10px;
}

.sinup,
.loginn,
.request-demo-button {
  padding: 15px 30px;
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}


.request-demo-button {
  background: #34aad9;
  background-image: -webkit-linear-gradient(top, #34aad9, #2980b9);
  background-image: -moz-linear-gradient(top, #34aad9, #2980b9);
  background-image: -ms-linear-gradient(top, #34aad9, #2980b9);
  background-image: -o-linear-gradient(top, #34aad9, #2980b9);
  background-image: linear-gradient(to bottom, #34aad9, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.request-demo-button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
  margin: 8%;
  margin-top: 15rem;
}

.card {
  background-color: #daf5ff;
  border: 2px solid #000;
  margin: 10px;
  padding: 1.5%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 40%;
  font-size: 22px;
}

.card ul {
  margin-top: 8px;
  padding-right: 25%;
}
.card li {
  margin-bottom: 5px;
}

.content {
  flex: 1;
  flex-direction: column;
  /* Adjust the spacing as needed */
}

.footer {
  margin-top: auto;
  background-color: black;
  color: white;
  padding: 20px 5px 18px 0;
  text-align: center;
  line-height: 1.5;
  width: 100%;
  font-size: 18px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.left-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: small;
  margin: 20px 20px 0px 20px;
}

.right-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: small;
  font-weight: 100;
  padding-left: 10%;
  margin: 20px 20px 0px 20px;
}

.footer-text {
  margin-right: 30px;
  margin-bottom: 10px; /* Adjust the spacing between lines as needed */
}


.social-icons {
  display: flex;
  align-items: space-between;
  color: #34aad9;
  margin-bottom: 20px;
  margin-left: 20px;
}

.social-icons a {
  margin-right: 50px;
  font-size: 24px;
}

.social-icons a:last-child {
  margin-right: 0;
}



.social-icons a:visited { 
  text-decoration: none; 
  color: #34aad9;
 }


/* Signup */


.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90vh;
  margin-top: auto;
  padding-top: 2%;
}

.signup-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 2%;
  text-align: center;
  font-family: Arial, sans-serif;
}

form {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  justify-content: space-between;
}

.left-section {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.right-section {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 12%;
  width: 80%;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Arial, sans-serif;
}

.tnc {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
  flex-direction: row;
  margin-left: 40px;
}

.tnc input[type="checkbox"] {
  margin-left: 4rem;
}

.tnc label {
  color: #555;
  font-size: 16px;
  margin-right: 100px;
}


.sbutton {
  margin-top: auto;
  padding: 20px 40px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  align-self: center;
  margin-bottom: 2%;
  font-family: Arial, sans-serif;
}

.btn-signup{
  padding: 15px 40px;
  margin-bottom: 1.5%;
}

.button-container{
  align-self: center;
  margin:auto;
  padding: auto;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  form {
    width: 100%;
    padding: 0 20px;
  }
}

.subm-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;

}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  text-align: center; /* Added to center align the elements */
  width: auto;
}

.signup-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 4%;
}

.log-field {
  display: flex;
  margin-bottom: 15px;
  align-items: center; /* Align items to the start of the flex container */
  width: 40%; /* Added to occupy the full width */

}

.log-field label {
  margin-right: 2%;
}

.log-field input[type="email"],
.log-field input[type="password"] {
  display: flex;
  flex: 1;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  box-sizing: border-box; /* Add this line to include padding and border in the element's total width */
}

.log-field input[type="email"] {
  margin-right: 2%; /* Add this line to create equal spacing between inputs */
}



.centrepage {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center; 
}

.login-btn{
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #4cf;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #79E0EE;
}

.image {
  display: flex;
  align-items: center;
}

.logo {
  width: 200px; /* Adjust the width of the logo image as needed */
}

.beta {
  width: 5rem; /* Adjust the width of the beta image as needed */
  margin-bottom: 2rem; /* Add some space between the logo and beta image */
}

/* popup - css */

/* styles.css */
/* styles.css */
/* styles.css */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup.failure button {
  padding: 6px 12px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  font-size: smaller
}

.popup.failure button:hover {
  background-color: #c3ddf2;
  margin-left: 2px;
}

.popup.success {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #dff0d8;
  color: #3c763d;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

 /*menu-bar*/

 .menu-bar {
  background-color: lightblue;
  color: darkblue;
  width: 250px;
  height: 95vh; /* Adjust the value based on the combined height of the header and footer */
  position: absolute;
  left: 0;
  top: 150px; /* Adjust the value based on the header height */
  bottom: 100px; /* Adjust the value based on the footer height */
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-x: hidden;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 30px;
  border-bottom: 1px solid darkblue;
}

.menu-item-btm {
  display: flex;
  align-items: center;
  padding: 36px;
}

.menu-text {
  margin-left: 25px;
}

.dashboard {
  /* margin-left: 250px; Adjust this value based on the menu bar width */
  /* height: 130vh; */
  /* height: 150vh; */
  padding: 4rem 2rem 5rem 2rem;
  width: 100%;
  margin-bottom: 10rem;
  overflow-x: hidden;
}

.d-content {
  margin-left: 250px; /* Adjust this value based on the menu bar width */
  padding: 20px;
  height: 200vh;
  /* max-height: 400vh; */
  /* margin-bottom: 100px; Adjust this value based on the footer height */
}

.search-icon{
  top: 20px;
  padding-top: 15px;
  bottom: 20px;
}

.blue-t{
  color: #4cf;
  border: #000;
}

/*admin menubar*/

 .adbar {
  background-color: lightblue;
  color: darkblue;
  width: 250px;
  height: 110vh; /* Adjust the value based on the combined height of the header and footer */
  position: absolute;
  left: 0;
  top: 150px; /* Adjust the value based on the header height */
  bottom: 100px; /* Adjust the value based on the footer height */
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
}

.menu-item {
  transition: all 0.5s;
}

.menu-item:hover {
  color: white;
  background-color: #05BFDB;
  transform: scale(1.2);
  /* Add any other desired styles for the hover effect */
}

.menu-item-btm:hover{
  color: white;
  background-color: #05BFDB;
  transform: scale(1.2);
  transition: all 0.5s;
  /* Add any other desired styles for the hover effect */
}

.menu-link{
  text-decoration: none;
  background-color: lightblue;
  color: darkblue;

}

.menu-link:active .menu-link {
  background-color: lightblue;
  color: darkblue;
}

.menu-link:visited {
  background-color: lightblue;
  color: darkblue;
}

.menu-icon {
  font-size: 24px; /* Adjust the size as per your preference */
}

.menu-bar {
  font-family: "Roboto", sans-serif;
}

.menu-text {
  font-weight: 500;
}

/*Hospital*/

.hospital-f {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  gap: 10px;
  width: 100vh;
  margin: 0 auto;
  max-height: 200vh;
}

.dashboard-content{
  margin-left: 150px;
  max-width: 600px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  height: auto;
  overflow-x: hidden;
}

.hsubtn{
  width: 50%;
  margin-left: 20px;
}

/*user access */

.user-table{
  border: 2px solid;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  max-width: 95%;
  height: auto;
  /* max-height: 80vh; Adjust the desired maximum height */
  overflow-y: auto;
  padding-bottom: 30px;
}

.user-table th {
  font-weight: bold;
  /* color: blue; */
  padding: 10px;
  text-align: left;
  border: 1px solid;
  position: relative;
}

.user-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid;
}

.user-table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

.user-table tbody tr:hover {
  background-color: #eaf2ff;
}

.user-table th:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: yellow;
  opacity: 0.3;
  z-index: -1;
}

.table-content{
  display: flex;
  max-height: 210vh;
  /* max-height: 100vh; */
  overflow-y: auto;
}

.hosp-content{
  margin: 0 0 8rem 10rem;
  max-width: 200vh;
  padding-bottom: 30px;
  /* max-height: 600vh; */
}

.hosp-content h1{
  margin: 0 0 4rem 10rem;
}

.hosp-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 180vh;
}

form.hospital-f {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* max-height: 100vh; */
  max-width: 400vh;
  overflow-y:auto;
}

form.hospital-f .form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

form.hospital-f .form-group label {
  width: 150px; /* Adjust this value based on your label's width */
}

form.hospital-f .form-group input {
  width: 300px; /* Adjust this value based on your input's width */
  margin-left: 10px; /* Adjust this value to add spacing between label and input */
}

/* Additional styling to make it visually appealing */
form.hospital-f .hsubtn {
  margin-top: 10px;
}

.page-view{
  overflow-x: hidden;
}

.page-title{
  display: flex;
}

.page-title-child{
  margin: auto;
  padding-bottom: 2rem;
}

/*update form*/

.edit-form {
  position: fixed;
  width: 70%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  overflow-y: auto;
}

.edit-form h2 {
  text-align: center;
}

.edit-form form {
  margin-top: 20px;
}

.edit-form .form-group {
  margin-bottom: 10px;
}

.edit-form .form-group label {
  display: block;
  margin-bottom: 5px;
}

.edit-form .form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edit-form .button-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.edit-form .button-group button {
  margin-right: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}

/*Pagination*/

.pagination-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.prev-button,
.next-button {
  padding: 10px 15px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.prev-button:hover,
.next-button:hover {
  background-color: #e0e0e0;
}

.prev-button::before,
.next-button::before {
  margin-right: 5px;
}

/* .prev-button::before {
  content: "\2190"; /* Unicode arrow left symbol *
}

.next-button::before {
  content: "\2192"; /* Unicode arrow right symbol *
} */

.table-content {
  position: relative;
}

.prev-button {
  margin-right: auto;
}

.next-button {
 margin-left: auto;
 margin-right: 1rem;
}

.total-rows {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.page-display {
  display: flex;
  color: darkblue;
}

.right{
  margin-left: auto;
  margin-right: 1rem
}

.prev-button,
.next-button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.prev-button:after,
.next-button:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf;
  border-radius: 10rem;
  z-index: -2;
}

.prev-button:before,
.next-button:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: darken(#0cf, 15%);
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}

.prev-button:hover,
.next-button:hover {
  color: #fff;
}

.prev-button:hover:before,
.next-button:hover:before {
  width: 100%;
}

/* user menu */


.user-menu {
  position: relative;
}

.user-menu-items {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #333;
  color: #fff;
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-menu-item {
  margin-bottom: 0.5rem;
  border: none;
  background: none;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 12rem;
  padding: 0.4rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}



.user-menu-item:hover {
  background-color: #555;
}

.user-menu-item i {
  margin-right: 0.8rem;
}

.user-details {
  margin-bottom: 1rem;
}

.user-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}

.user-label {
  font-weight: bold;
  margin-right: 0.5rem;
  font-size: 1rem;
}

.user-details {
  margin-bottom: 1rem;
  line-height: 1.5;
  align-items: left;
}

.user-size {
  font-size: 1rem;
}

.user-details-border {
  border-bottom: 1px solid #fff;
  width: 95%;
  margin: 0.5rem 0;
}


/* Add these styles to apply the animation */
.user-menu-items.open {
  transform: scaleY(1);
  opacity: 1;
}

.user-menu-items.closed {
  transform: scaleY(0);
  opacity: 0;
}

.form-outline {
  border: 1px solid #ced4da;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  width: 100%;
  margin-bottom: 1rem;
}

/*textarea*/

.textarea {
  padding: 0.375rem 0.75rem;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  /* width: 100%; */
  margin-bottom: 1rem;
  margin-left: 2rem;
  width: 45vh;
  height: 30vh;
  /* resize: none; */
}
/* Add additional styles as needed */


